<% if @installations.any? %>
  <% if @checks.any? %>
    <div class="mb-5">
      <p class="lead">Recent runs</p>
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Repo</th>
          <th>State</th>
          <th>Commit</th>
          <!-- TODO: ~show number of warnings -->
        </tr>
        <% @checks.each do |check| %>
          <tr>
            <td><%= check.id %></td>
            <td><%= check.repo_full_name %></td>
            <td title="<%= Time.parse(check.state_log.last["ts"]) %>"><%= "#{check.state} (#{distance_of_time_in_words(Time.now, check.state_log.last["ts"], include_seconds: true)} ago)" %></td>
            <td>
              <code><%= pull_request_or_commit_link(check) %></code>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <p class="lead"><%= @checks.any? ? "✅" : "💁‍" %> Complete setup and integrate UncercoverCI with your test suite</p>

  <div class="card mt-2 mb-5">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="circleci-tab" data-toggle="tab" href="#circle-ci" role="tab" aria-controls="circle-ci" aria-selected="true">Circle CI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="travis-tab" data-toggle="tab" href="#travis-ci" role="tab" aria-controls="travis-ci" aria-selected="false">Travis CI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="semaphore-tab" data-toggle="tab" href="#semaphore-ci" role="tab" aria-controls="semaphore-ci" aria-selected="false">Semaphore CI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="actions" aria-selected="false">GitHub Actions</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="circle-ci" role="tabpanel" aria-labelledby="circle-ci">
          <ol>
            <li>
              Update your CI configuration (<code>.circleci/config.yml</code> in case of CircleCI) to use our uploader script after running tests. Replace things in bold with your values. Here's an example:
              <pre><code>
                ruby -e "$(curl -s https://undercover-ci.com/uploader.rb)" -- \
                    --repo <b>twitchy-tortoise/spree</b> \
                    --commit <b>$CIRCLE_SHA1</b> \
                    --lcov <b>coverage/lcov/spree.lcov</b>
              </code></pre>
            </li>
            <li>If you're running specs in parallel, check out how to <a href="https://gist.github.com/grodowski/9744ff91034dce8df20c2a8210409fb0" target="_blank">merge the reports</a> into one <code>.lcov</code> file. UndercoverCI requires a single coverage report. </li>
            <li>Store your changes and push a commit. ⬆️</li>
            <li>Profit! This window will dissapear once the app processes your first commit and your team starts receiving checks about untested code that you've changed, narrowed down to methods, blocks and classes. ✨</li>
          </ol>
        </div>

        <div class="tab-pane fade" id="travis-ci" role="tabpanel" aria-labelledby="travis-ci">
          👀 Travis guide TBA!
        </div>

        <div class="tab-pane fade" id="semaphore-ci" role="tabpanel" aria-labelledby="semaphore-ci">
          😢 Semaphore guide TBA!
        </div>

        <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions">
          🙄 Actions guide TBA!
        </div>
      </div>
    </div>
  </div>

  <p class="lead">UndercoverCI will send coverage checks to the following accounts and repos</p>

  <!-- TODO: ~refactor view logic -->
  <% @installations.each do |inst| %>
    <div class="card bg-light my-2">
      <div class="card-body">
        <h5 class="card-title">
            <%= inst.metadata.dig("account", "login") %>
            <% if inst.metadata.dig("target_type").downcase == 'organization' %>
              <%= content_tag("span", "organization", class: 'badge badge-info') %>
            <% end %>
        </h5>

        <% inst.repos.each do |repo| %>
          <%= content_tag("p", repo["full_name"]) %>
        <% end %>

        <%= link_to "Manage on GitHub", inst.metadata["html_url"], class: "card-link" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Install the UndercoverCI GitHub App</h5>
      </div>
      <div class="modal-body">
        UndercoverCI will ask for write permission to your checks, pull requests and code. Proceed to complete installation and configure access on your GitHub account.
      </div>
      <div class="modal-footer">
        <%= link_to "Install UndercoverCI on your GitHub account", dash_installation_url, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
