<% if @installations.any? %>
  <!-- TODO: setup guide if there are no coverage checks. Link to optionally show setup guide -->
  <div class="card mt-2 mb-5">
    <div class="card-header">One last setup step...</div>
    <div class="card-body ">
      <h5 class="card-title">✅ Integrate UncercoverCI with your test suite</h5>
      <ol>
        <li>
          Update your CI configuration (<code>.circleci/config.yml</code> in case of CircleCI) to use our uploader script after running tests. Replace things in bold with your values. Here's an example:
          <pre><code>
            ruby -e "$(curl -s https://undercover-ci.com/uploader.rb)" -- \
                --repo <b>twitchy-tortoise/spree</b> \
                --commit <b>$CIRCLE_SHA1</b> \
                --lcov <b>coverage/lcov/spree.lcov</b>
          </code></pre>
        </li>
        <li>If you're running specs in parallel, check out how to <a href="https://gist.github.com/grodowski/9744ff91034dce8df20c2a8210409fb0" target="_blank">merge the reports</a> into one <code>.lcov</code> file. UndercoverCI requires a single coverage report. </li>
        <li>Store your changes and push a commit. ⬆️</li>
        <li>Profit! This window will dissapear once the app processes your first commit and your team starts receiving checks about untested code that you've changed, narrowed down to methods, blocks and classes. ✨</li>
      </ol>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-11">
        <p class="lead">UndercoverCI will send coverage checks to the following accounts and repos:</p>
      </div>
    </div>
  </div>

  <!-- TODO: ~refactor view logic -->
  <% @installations.each do |inst| %>
    <div class="card bg-light my-2">
      <div class="card-body">
        <h5 class="card-title">
            <%= inst.metadata.dig("account", "login") %>
            <% if inst.metadata.dig("target_type").downcase == 'organization' %>
              <%= content_tag("span", "organization", class: 'badge badge-info') %>
            <% end %>
        </h5>

        <% inst.repos.each do |repo| %>
          <%= content_tag("p", repo["full_name"]) %>
        <% end %>

        <%= link_to "Manage on GitHub", inst.metadata["html_url"], class: "card-link" %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Install the UndercoverCI GitHub App</h5>
      </div>
      <div class="modal-body">
        UndercoverCI will ask for write permission to your checks, pull requests and code. Proceed to complete installation and configure access on your GitHub account.
      </div>
      <div class="modal-footer">
        <%= link_to "Install UndercoverCI on your GitHub account", dash_installation_url, class: "btn btn-light" %>
      </div>
    </div>
  </div>
<% end %>
