<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      UndercoverCI <span class="badge badge-warning">beta</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-top" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <%= nav_link_with_state("Commits", dashboard_path) %>
        <%= nav_link_with_state("Settings", settings_path) %>
        <%= nav_link_with_state("Docs", docs_page_path, target: "_blank") %>
      </ul>
      <% if ENV['FF_SELF_SIGNUP'] %>
        <% if current_user %>
          <%= link_to "Sign out", "/auth/logout", class: "btn btn-light", method: :delete %>
        <% else %>
          <%= link_to "Sign in", "/auth/github", class: "btn btn-light", method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
