<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="<%= root_path %>">
      <%= image_tag "logo/apple-touch-icon.png", class: 'logo-img' %>
      <div class="px-1">UndercoverCI</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-top" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <%= nav_link_with_state("Commits", dashboard_path) %>
        <%= nav_link_with_state("Settings", settings_path) %>
        <%= nav_link_with_state("Documentation", docs_page_path, target: "_blank") %>
      </ul>
      <% if current_user %>
        <%= link_to "Sign out", "/auth/logout", class: "btn btn-light", method: :delete %>
      <% else %>
        <%= link_to "Sign in", "/auth/github", class: "btn btn-light", method: :post %>
      <% end %>
    </div>
  </div>
</nav>
