<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Undercover CI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-top" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!-- TODO: navbar helper to mark item as active -->
      <!-- class="active" -->
      <li class="nav-item">
        <a class="nav-link" href="<%= pricing_page_path %>">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/grodowski/undercover" target="_blank">Open Source</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= faq_page_path %>">Support</a>
      </li>
    </ul>
    <% if ENV['FF_SELF_SIGNUP'] %>
      <% if current_user %>
        <%= link_to "Sign Out", "/auth/logout", class: "btn btn-info", method: :delete %>
      <% else %>
        <%= link_to "Sign In", "/auth/github", class: "btn btn-info", method: :post %>
      <% end %>
    <% end %>
  </div>
</nav>
