<div class="starter-template">
  <div class="container">
    <h1 class="display-4 header-title">Actionable code coverage review</h1>
    <p class="lead mt-4">UndercoverCI ensures that <strong class="lead-highlight">every pull request is adequately tested</strong>.<br/>Works with Ruby and GitHub.</p>

    <div class="card-deck mt-5">
      <div class="card shadow-lg">
        <picture>
          <source srcset="<%= image_path("check_screenshot.png") %>">
          <img class="img-fluid hero-img mt-4 mb-5" alt="UndercoverCI GitHub comments">
        </picture>

        <div class="container pb-3">
          <div class="container">
            <% if current_user.nil? %>
              <%= link_to "Sign Up with GitHub", "/auth/github", class: "btn btn-lg btn-primary", method: :post %>
            <% else %>
              <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-light" %>
            <% end %>
            <p class="text-muted mt-3">Free for individuals and open-source repositories.<br/>Organization plans start at $49 per month with a <strong>free 14-day trial</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container how-it-works-container">
    <p class="lead">These companies review pull request test coverage with UndercoverCI</p>
    <div class="row">
      <div class="col-md-4 pb-5">
        <picture>
          <source srcset="<%= image_path("fieldly_black.png") %>" />
          <img class="img-fluid trusted-by-img" alt="Rainforest QA" />
        </picture>
      </div>
      <div class="col-md-4 pb-5">
        <picture>
          <source srcset="<%= image_path("rfqa.png") %>" />
          <img class="img-fluid trusted-by-img" alt="Rainforest QA" />
        </picture>
      </div>
      <div class="col-md-4 pb-5">
        <picture>
          <source srcset="<%= image_path("rhino.jpg") %>" />
          <img class="img-fluid trusted-by-img rhino" alt="Rainforest QA" />
        </picture>
      </div>
    </div>
  </div>

  <div class="container how-it-works-container">
    <h3 class="mb-3 top-space">How it works</h3>
    <p class="lead mb-5">Stop focusing on getting to 100% test coverage.<br/>Reduce pull request defects by telling when changed code is untested.</p>

    <div class="card-deck mb-5">
      <div class="card card-noborder mb-4">
        <div class="card-body">
          <div class="text-center">
            <i class="how-it-works-icon icon-flow-merge"></i>
          </div>
          <p class="lead"><strong>1️⃣ Open a pull request</strong></p>
          <p>The CI server runs tests and uploads coverage data to UndercoverCI. That's the only required post-install setup step!</p>
        </div>
      </div>
      <div class="card card-noborder mb-4">
        <div class="card-body">
          <div class="text-center">
            <i class="how-it-works-icon icon-search-outline"></i>
          </div>
          <p class="lead"><strong>2️⃣ Find missing test coverage</strong></p>
          <p>We scan the PR diff and verify local test coverage for each updated class, method and block, because an absolute percentage check is not enough.</p>
        </div>
      </div>
      <div class="card card-noborder mb-4">
        <div class="card-body">
          <div class="text-center">
            <i class="how-it-works-icon icon-chat-alt"></i>
          </div>
          <p class="lead"><strong>3️⃣ Fix or ack review comments</strong></p>
          <p>Reveal untested methods and blocks, find unused code paths and improve your test suite.</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mb-3 top-space">Why UndercoverCI</h3>
  <p class="lead mb-5">Read more about Ruby code coverage and unit testing strategy</p>

  <div class="card-deck">
    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://medium.com/@mrgrodo/introducing-undercoverci-98c6c50793f2" target="_blank">Introducing UndercoverCI</a>
        </div>
        <blockquote>
          <i class="mb-0">Today, I’m launching UndercoverCI— a CI robot who protects your Ruby codebase from untested code changes. Take a moment to learn why you should add it to your team’s code review workflow.</i>
          <i class="mb-0">Adding UndercoverCI to your code review workflow will prevent untested code changes from slipping into production without anyone noticing.</i>
          <footer class="blockquote-footer mt-4"><a href="https://twitter.com/@mrgrodo">@mrgrodo</a> in <a href="https://medium.com/@mrgrodo/introducing-undercoverci-98c6c50793f2" target="_blank"><cite title="Introducing UndercoverCI">Introducing UndercoverCI</cite></a></footer>
        </blockquote>
    </div>
  </div>

    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://www.codementor.io/@theundefined/ruby-the-misconceptions-of-100-code-coverage-keituk3qc" target="_blank">The misconceptions of 100% Code Coverage</a>
        </div>
        <blockquote>
          <i class="mb-0">For existing projects, because of the sheer workload of having to write the tests to cover code that you have not written to fill the gaps, it is much harder to get to the confidence level that having 100% coverage brings, but at least by using code coverage reports you can make informed decisions on how risky a change is going to be.</i>
          <footer class="blockquote-footer mt-4"><a href="https://github.com/the-undefined">@the-undefined</a> in <a href="https://www.codementor.io/@theundefined/ruby-the-misconceptions-of-100-code-coverage-keituk3qc" target="_blank"><cite title="Ruby: The misconceptions of 100% Code Coverage">Ruby: The misconceptions of 100% Code Coverage</cite></a></footer>
        </blockquote>
      </div>
    </div>

    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://medium.com/futuredev/stop-shipping-untested-ruby-code-with-undercover-1edc963be4a6" target="_blank">Stop shipping untested Ruby code with undercover</a>
        </div>
        <blockquote>
          <i class="mb-0">Undercover is a code review utility that takes the ideas from code quality tools like RuboCop or Pronto and applies them to coverage. If 100% test coverage is not what we want to invest our time in, how about making sure that just the code in scope of our changes is tested well?</i>
          <footer class="blockquote-footer mt-4"><a href="https://twitter.com/@mrgrodo">@mrgrodo</a> in <a href="https://medium.com/futuredev/stop-shipping-untested-ruby-code-with-undercover-1edc963be4a6" target="_blank"><cite title="Stop shipping untested Ruby code with undercover">Stop shipping untested Ruby code with undercover</cite></a></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="jumbotron text-center mt-5 py-5">
    <div class="container py-5">
      <h1 class="display-4 dispay-condensed">Detect untested methods in your PRs</h1>
      <p class="text-muted mb-5">Free for individuals and open-source repositories. Organization plans start at $49 per month with a <strong>free 14-day trial</strong>.</p>

      <% if current_user.nil? %>
        <%= link_to "Sign Up with GitHub", "/auth/github", class: "btn btn-lg btn-primary", method: :post %>
      <% else %>
        <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-light" %>
      <% end %>
    </div>
  </div>
</div>
