<% content_for(:title) { "Actionable test coverage checks for Ruby and Github" } %>
<% content_for(:meta_description) do %>
Stop focusing on getting to 100% test coverage. Detect when changed code is untested before it's deployed.
<% end %>


<div class="dark-bg">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 mt-3 text-left">
        <!-- <h1 class="display-4 header-title">Forget about 100% test coverage</h1> -->
        <!-- <h1 class="display-4 header-title">❌ Total coverage reduced by 0.03%?</h1> -->
        <%# <h1 class="display-4 header-title">Healthy test suite, commit by commit</h1> %>
        <%# <h1 class="display-4 header-title">Code coverage,<br/> made useful</h1> %>
        <h1 class="display-4 header-title">"I've tested all the changes!"<br/><span class="small">Sure you have, Claude. 🤖</span></h1>
        <p class="lead my-5">
          <strong class="lead-highlight">AI writes code faster than you can verify it.</strong> Undercover finds <strong class="lead-highlight">untested changes</strong> in every pull request, whether written by Claude, Copilot, or a human.
        </p>
        <p class="lead my-5">
          🎯 Test what changed, verify deterministically<br/>
          🛠️ Works with all Ruby testing frameworks<br/>
          🚀 Trusted by teams at GitLab, Rainforest QA, Rhino<br/>
        </p>
      </div>
      <div class="col-lg-7 pl-3 pt-lg-3 my-lg-3">
        <picture>
          <source srcset="<%= image_path("check_screenshot.png") %>">
          <img class="img-fluid shadow-lg screenshot-with-border-radius mt-3 mb-3" alt="Undercover GitHub comments">
        </picture>
      </div>
    </div>
    <div class="row">
      <div class="col text-center my-3">
        <% if current_user.nil? %>
          <%= link_to "Sign Up with GitHub", "/auth/github?r=sign_up", class: "btn btn-lg btn-light font-weight-bold", method: :post %>
          <p class="small mt-2">
            Free forever for open-source repos.<br/>
            14-day free trial for private repos. Supports Ruby and GitHub.
          </p>
        <% else %>
          <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-light" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container how-it-works-container text-center mt-5">
  <p class="lead">Leading <strong>Ruby engineering teams</strong> review test coverage with undercover</p>
  <div class="row">
    <div class="col-md-3 pb-5">
      <a href="https://gitlab.com" target="_blank">
        <picture>
          <source srcset="<%= image_path("gitlab-logo-default-rgb.png") %>" />
          <img class="img-fluid trusted-by-img" alt="GitLab" />
        </picture>
      </a>
    </div>
    <div class="col-md-3 pb-5">
      <a href="https://fieldly.com" target="_blank">
        <picture>
          <source srcset="<%= image_path("fieldly_black.png") %>" />
          <img class="img-fluid trusted-by-img" alt="Fieldly" />
        </picture>
      </a>
    </div>
    <div class="col-md-3 pb-5">
      <a href="https://rainforestqa.com" target="_blank">
        <picture>
          <source srcset="<%= image_path("rfqa.png") %>" />
          <img class="img-fluid trusted-by-img" alt="Rainforest QA" />
        </picture>
      </a>
    </div>
    <div class="col-md-3 pb-5">
      <a href="https://www.sayrhino.com" target="_blank">
        <picture>
          <source srcset="<%= image_path("rhino.jpg") %>" />
          <img class="img-fluid trusted-by-img rhino" alt="Rhino" />
        </picture>
      </a>
    </div>
  </div>
  <div id="testimonials" class="row my-5">
    <div class="col-lg-4 py-3 d-flex justify-content-center">
      <!-- https://github.com/saurabhnemade/react-twitter-embed/issues/21 -->
      <blockquote data-cards="hidden" class="twitter-tweet"><p lang="en" dir="ltr">Integrating good tools into your code review flow simplifies everything 😌. A great example is <a href="https://t.co/nJOemX8oh7">https://t.co/nJOemX8oh7</a>, ensuring each change is well-tested 🛠️. Kudos to <a href="https://twitter.com/mrgrodo?ref_src=twsrc%5Etfw">@mrgrodo</a> for creating it and offering fantastic support for any queries!</p>&mdash; Magda (@MagdaEriruos) <a href="https://twitter.com/MagdaEriruos/status/1733117075193844156?ref_src=twsrc%5Etfw">December 8, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-4 d-flex justify-content-center">
      <blockquote data-cards="hidden" class="twitter-tweet"><p lang="en" dir="ltr">Shoutout to <a href="https://twitter.com/mrgrodo?ref_src=twsrc%5Etfw">@mrgrodo</a>&#39;s (still underappreciated) work on <a href="https://t.co/IsSyc2lz0s">https://t.co/IsSyc2lz0s</a>! This little gem helped me keep 99% code coverage in one of of my Open Source Ruby gems: <a href="https://t.co/wkGVV6WSfL">https://t.co/wkGVV6WSfL</a>.<br><br>Totally recommend it if you care about the quality of your open source work!</p>&mdash; Bajena (@Bajena) <a href="https://twitter.com/Bajena/status/1725881690466173076?ref_src=twsrc%5Etfw">November 18, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-lg-4 py-3">
      <iframe src="https://ruby.social/@hschne/111422104536735524/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script src="https://ruby.social/embed.js" async="async"></script>
    </div>
  </div>
</div>

<div id="how-it-works" class="container how-it-works-container text-center pb-3">
  <h2 class="mb-3 top-space">How it works</h2>
  <p class="lead">Stop focusing on getting to 100% test coverage.<br/>Detect when changed code is untested before it's deployed.</p>
</div>

<div id="features" class="container how-it-works-container text-left mt-5">
  <div class="row my-5">
    <div class="col-lg py-5-lg">
      <h3>Find untested code blocks</h3>
      <p><strong>Perfect for auto-generated code.</strong> AI-generated tests often miss critical paths. Built on SimpleCov and code structure analysis, Undercover checks guide the programmer to test adequately.</p>
      <p><strong>Worried about too many comments?</strong> You won't receive more than one comment per method, because Undercover understands code structure and only works with the current diff. Annotations are reported on changed classes, methods or blocks where line coverage or branch coverage was missing.
      </p>
    </div>
    <div class="col-lg">
      <picture>
        <source srcset="<%= image_path("feature-inline-comment.png") %>">
        <img class="img-fluid screenshot-with-border-radius shadow mb-5" alt="Undercover GitHub comment">
      </picture>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-lg py-5-lg">
      <h3>Ship on green</h3>
      <p>No untested changes in your pull request? Merge with confidence. All code, whether written by humans or AI, is verified.</p>
      <p>If there are gaps, you control the rules: require the check to pass before merging, or use SimpleCov's <code>:nocov:</code> comments to explicitly allow exceptions. Either way, you understand what's covered.</p>
    </div>
    <div class="col-lg">
      <picture>
        <source srcset="<%= image_path("feature-status-check.png") %>">
        <img class="img-fluid screenshot-with-border-radius shadow mb-5" alt="Commit status check from Undercover">
      </picture>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg">
      <h3>Monitor your test suite health</h3>
      <p>Lists file names, class/method names and coverage information for a commit or pull request. Methods that cause the check to fail are flagged with a warning emoji (⚠️) - one or more line or branch appears in the PR diff and has to be fixed.</p>
      <p>All others provide a refactoring opportunity for you to improve the test coverage if it's low somewhere outside of the diff.
    </div>
    <div class="col-lg">
      <picture>
        <source srcset="<%= image_path("location-breakdown.png") %>">
        <img class="img-fluid screenshot-with-border-radius shadow mb-5" alt="Check summary when coverage fails">
      </picture>
    </div>
  </div>
</div>

<div class="dark-bg">
  <div class="py-5">
    <div class="text-center">
      <h2 class="top-space">Choose your setup</h2>
      <p class="lead mb-5">Install the Undercover GitHub App or explore the Ruby gems family</p>
    </div>
    <%= render partial: 'partials/pricing_cards' %>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h2 class="mt-5 mb-3 top-space">Why Undercover?</h2>
    <p class="lead mb-5">Updates and links to read about Ruby test coverage strategy</p>
  </div>

  <div class="card-deck">
    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://mrgrodo.medium.com/branch-coverage-now-available-in-undercover-checks-57d88b211098" target="_blank">Branch coverage now available in Undercover checks</a>
        </div>
        <blockquote>
          <i class="mb-0">The purpose of branch coverage is to check whether every conditional branch in a given line of code has been tested and Ruby has this feature since <code>2.5</code>. Ruby’s <code>simplecov</code> can report branch coverage too and now so does undercover with the new <code>0.4</code> release!</i>
          <footer class="blockquote-footer mt-4"><a href="https://twitter.com/@mrgrodo">@mrgrodo</a> in <a href="https://mrgrodo.medium.com/branch-coverage-now-available-in-undercover-checks-57d88b211098" target="_blank"><cite title="Branch coverage now available in Undercover checks">Branch coverage now available in Undercover checks</cite></a></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://medium.com/@mrgrodo/introducing-undercoverci-98c6c50793f2" target="_blank">Introducing UndercoverCI</a>
        </div>
        <blockquote>
          <i class="mb-0">Today, I’m launching UndercoverCI— a CI robot who protects your Ruby codebase from untested code changes. Take a moment to learn why you should add it to your team’s code review workflow.</i>
          <i class="mb-0">Adding UndercoverCI to your code review workflow will prevent untested code changes from slipping into production without anyone noticing.</i>
          <footer class="blockquote-footer mt-4"><a href="https://twitter.com/@mrgrodo">@mrgrodo</a> in <a href="https://medium.com/@mrgrodo/introducing-undercoverci-98c6c50793f2" target="_blank"><cite title="Introducing UndercoverCI">Introducing UndercoverCI</cite></a></footer>
        </blockquote>
      </div>
    </div>

    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://martinfowler.com/bliki/TestCoverage.html" target="_blank">Test Coverage</a>
        </div>
        <blockquote>
          <i class="mb-0">So what is the value of coverage analysis again? Well it helps you find which bits of your code aren't being tested. It's worth running coverage tools every so often and looking at these bits of untested code. Do they worry you that they aren't being tested?</i>
          <footer class="blockquote-footer mt-4"><a href="https://martinfowler.com">Martin Fowler</a> in <a href="https://martinfowler.com/bliki/TestCoverage.html" target="_blank"><cite title="TestCoverage">TestCoverage (2012)</cite></a></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center mt-5 py-5">
    <div class="container py-5">
      <%= image_tag "logo/Logo_Asset_1@3x-8.png", class: 'mb-5 footer-cta-img' %>
      <h2>Ruby coverage toolkit ready for the vibe coding era</h2>
      <p class="text-muted mb-5">Free for open-source repositories. Organization plans start at $49 per month with a <strong>free 14-day trial</strong>.</p>

      <% if current_user.nil? %>
        <%= link_to "Sign Up with GitHub", "/auth/github?r=sign_up", class: "btn btn-lg btn-primary font-weight-bold", method: :post %>
      <% else %>
        <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-light" %>
      <% end %>
    </div>
  </div>
</div>
