<% content_for(:title) { "Actionable test coverage checks for Ruby and Github" } %>
<% content_for(:meta_description) do %>
Stop focusing on getting to 100% test coverage. Detect when changed code is untested before it's deployed.
<% end %>

<div class="text-center">
  <div class="container pb-4 mt-md-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 mt-3 text-left">
        <!-- <h1 class="display-4 header-title">Forget about 100% test coverage</h1> -->
        <!-- <h1 class="display-4 header-title">❌ Total coverage reduced by 0.03%?</h1> -->
        <h1 class="display-4 header-title">Healthy test suite, commit by commit</h1>
        <p class="lead my-5">
          ❌ Untested code slips through percentage test coverage thresholds. Reviewers miss untested code changes. Post-factum test additions cost more and miss the context.
        </p>
        <p class="lead my-5">
           ✅ UndercoverCI integrates with your CI or local workflow and warns on all <strong class="lead-highlight">methods, classes, blocks and branches that were changed without test coverage</strong>. Catch them early and ship with confidence.
        </p>
      </div>
      <div class="col-lg-7 pl-1">
        <picture>
          <source srcset="<%= image_path("check_screenshot.png") %>">
          <img class="img-fluid mt-3 mb-3" alt="UndercoverCI GitHub comments">
        </picture>
      </div>
    </div>
    <div class="row">
      <div class="col text-center my-3">
          <% if current_user.nil? %>
            <%= link_to "Sign Up with GitHub", "/auth/github?r=sign_up", class: "btn btn-lg btn-primary", method: :post %>
            <p class="lead small mt-2">Get a free account and a 14-day trial for private repositories. Supports Ruby and GitHub.</p>
          <% else %>
            <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-light" %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="container how-it-works-container mt-5">
    <p class="lead">These leading <strong>Ruby engineering teams</strong> review test coverage with undercover</p>
    <div class="row">
      <div class="col-md-3 pb-5">
        <a href="https://gitlab.com" target="_blank">
          <picture>
            <source srcset="<%= image_path("gitlab-logo-default-rgb.png") %>" />
            <img class="img-fluid trusted-by-img" alt="GitLab" />
          </picture>
        </a>
      </div>
      <div class="col-md-3 pb-5">
        <a href="https://fieldly.com" target="_blank">
          <picture>
            <source srcset="<%= image_path("fieldly_black.png") %>" />
            <img class="img-fluid trusted-by-img" alt="Fieldly" />
          </picture>
        </a>
      </div>
      <div class="col-md-3 pb-5">
        <a href="https://rainforestqa.com" target="_blank">
          <picture>
            <source srcset="<%= image_path("rfqa.png") %>" />
            <img class="img-fluid trusted-by-img" alt="Rainforest QA" />
          </picture>
        </a>
      </div>
      <div class="col-md-3 pb-5">
        <a href="https://www.sayrhino.com" target="_blank">
          <picture>
            <source srcset="<%= image_path("rhino.jpg") %>" />
            <img class="img-fluid trusted-by-img rhino" alt="Rhino" />
          </picture>
        </a>
      </div>
    </div>
  </div>

  <div id="how-it-works" class="container how-it-works-container">
    <h3 class="mb-3 top-space">How it works</h3>
    <p class="lead mb-5">Stop focusing on getting to 100% test coverage.<br/>Detect when changed code is untested before it's deployed.</p>
  </div>

  <div id="features" class="container how-it-works-container text-left">
    <div class="row my-5">
      <div class="col">
        <picture>
          <source srcset="<%= image_path("feature-inline-comment.png") %>">
          <img class="img-fluid shadow mt-5 mb-5" alt="UndercoverCI GitHub comment">
        </picture>
      </div>

      <div class="col py-5">
        <h4>Actionable review comments</h4>
        <p>Each class, method or block that's been changed without tests receives a check annotation including detailed information about what's missing and where: line coverage or branch coverage, plus respective line numbers and number of hits.</p>
        <p><strong>Worried about too many comments?</strong> You won't receive more than one comment per method, because UndercoverCI understands code structure and only works with the current diff.</p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col py-5">
        <h4>Pull request status checks</h4>
        <p>No untested changes in the diff? Merge away. Otherwise, it's up to you to configure whether a passing check is required to merge. If you decide to make it required, selected annotations can still be muted with SimpleCov's <code>:nocov:</code> comment syntax to go green and fix coverage later.</p>
      </div>
      <div class="col">
        <picture>
          <source srcset="<%= image_path("feature-status-check.png") %>">
          <img class="img-fluid shadow mt-5 mb-5" alt="Commit status check from UndercoverCI">
        </picture>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <h4>Pull request test coverage summary</h4>
        <p>The Check Details Breakdown includes file names, class/method names and coverage information. Methods that cause the check to fail are flagged with a warning emoji (⚠️) - one or more line or branch appears in the PR diff and has to be fixed. All others provide a refactoring opportunity for you to improve the test coverage if it's low somewhere outside of the diff.
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <picture>
          <source srcset="<%= image_path("feature-check-summary-fail.png") %>">
          <img class="img-fluid shadow mt-5 mb-5" alt="Check summary when coverage fails">
        </picture>
      </div>

      <div class="col">
        <picture>
          <source srcset="<%= image_path("feature-check-summary-success.png") %>">
          <img class="img-fluid shadow mt-5 mb-5" alt="Check summary when coverage is successful">
        </picture>
      </div>
    </div>
  </div>

  <h3 class="mb-3 top-space">Choose your setup</h3>
  <p class="lead mb-5">Install UndercoverCI's hosted GitHub App or explore the Ruby gems family</p>
  <%= render partial: 'partials/pricing_cards' %>

  <h3 class="mb-3 top-space">Why UndercoverCI</h3>
  <p class="lead mb-5">Read more about Ruby code coverage and unit testing strategy</p>

  <div class="card-deck">
    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://mrgrodo.medium.com/branch-coverage-now-available-in-undercover-checks-57d88b211098" target="_blank">Branch coverage now available in Undercover checks</a>
        </div>
        <blockquote>
          <i class="mb-0">The purpose of branch coverage is to check whether every conditional branch in a given line of code has been tested and Ruby has this feature since <code>2.5</code>. Ruby’s <code>simplecov</code> can report branch coverage too and now so does undercover with the new <code>0.4</code> release!</i>
          <footer class="blockquote-footer mt-4"><a href="https://twitter.com/@mrgrodo">@mrgrodo</a> in <a href="https://mrgrodo.medium.com/branch-coverage-now-available-in-undercover-checks-57d88b211098" target="_blank"><cite title="Branch coverage now available in Undercover checks">Branch coverage now available in Undercover checks</cite></a></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://medium.com/@mrgrodo/introducing-undercoverci-98c6c50793f2" target="_blank">Introducing UndercoverCI</a>
        </div>
        <blockquote>
          <i class="mb-0">Today, I’m launching UndercoverCI— a CI robot who protects your Ruby codebase from untested code changes. Take a moment to learn why you should add it to your team’s code review workflow.</i>
          <i class="mb-0">Adding UndercoverCI to your code review workflow will prevent untested code changes from slipping into production without anyone noticing.</i>
          <footer class="blockquote-footer mt-4"><a href="https://twitter.com/@mrgrodo">@mrgrodo</a> in <a href="https://medium.com/@mrgrodo/introducing-undercoverci-98c6c50793f2" target="_blank"><cite title="Introducing UndercoverCI">Introducing UndercoverCI</cite></a></footer>
        </blockquote>
      </div>
    </div>

    <div class="card mb-4 shadow-lg pt-3">
      <div  class="text-left card-body">
        <div class="mb-2">
          <a class="lead" href="https://www.codementor.io/@theundefined/ruby-the-misconceptions-of-100-code-coverage-keituk3qc" target="_blank">The misconceptions of 100% Code Coverage</a>
        </div>
        <blockquote>
          <i class="mb-0">For existing projects, because of the sheer workload of having to write the tests to cover code that you have not written to fill the gaps, it is much harder to get to the confidence level that having 100% coverage brings, but at least by using code coverage reports you can make informed decisions on how risky a change is going to be.</i>
          <footer class="blockquote-footer mt-4"><a href="https://github.com/the-undefined">@the-undefined</a> in <a href="https://www.codementor.io/@theundefined/ruby-the-misconceptions-of-100-code-coverage-keituk3qc" target="_blank"><cite title="Ruby: The misconceptions of 100% Code Coverage">Ruby: The misconceptions of 100% Code Coverage</cite></a></footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center mt-5 py-5">
    <div class="container py-5">
      <h1 class="display-4 dispay-condensed">Detect untested methods in your PRs</h1>
      <p class="text-muted mb-5">Free for individuals and open-source repositories. Organization plans start at $49 per month with a <strong>free 14-day trial</strong>.</p>

      <% if current_user.nil? %>
        <%= link_to "Sign Up with GitHub", "/auth/github?r=sign_up", class: "btn btn-lg btn-primary", method: :post %>
      <% else %>
        <%= link_to "Go to Dashboard", dashboard_path, class: "btn btn-lg btn-light" %>
      <% end %>
    </div>
  </div>
</div>
