<!DOCTYPE html>
<html>
  <head>
    <title>Undercover CI - stop shipping untested code</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <main role="main" class="container">
      <%= yield %>
    </main>
    <%= render 'partials/footer' %>
  </body>
</html>
