<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Undercover CI (<%= current_user.name %>)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'analytics' %>
    <%= render 'partials/favicons' %>
    <%= render 'partials/heap_identify' %>
  </head>

  <body>
    <%= render 'partials/maintenance_banner' if ENV["MAINTENANCE_REASON"] %>
    <%= render 'partials/flash' %>
    <%= render 'partials/dash_navbar' %>
    <main role="main" class="container py-5">
      <%= yield %>
    </main>
    <%= render 'partials/dash_footer' %>

    <script>
      (function() {
        const html = document.documentElement;
        html.setAttribute('data-theme', 'light');

        const originalSetItem = localStorage.setItem;
        localStorage.setItem = function(key, value) {
          if (key !== 'theme') {
            originalSetItem.apply(this, arguments);
          }
        };
      })();
    </script>
  </body>
</html>
