<!DOCTYPE html>
<html>
  <head>
    <title>UndercoverCI (<%= current_user.name %>)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'analytics' %>
    <%= javascript_include_tag 'https://gumroad.com/js/gumroad.js' %>
    <%= render 'partials/favicons' %>
  </head>

  <body>
    <%= render 'partials/dash_navbar' %>
    <main role="main" class="container py-5">
      <%= yield %>
    </main>
    <%= render 'partials/footer' %>
  </body>
</html>
